/* Main stylesheet */
:root {
   --spacing-1: 0.25rem;
   --spacing-2: 0.5rem;
   --spacing-3: 1rem;
   --spacing-4: 1.5rem;
   --spacing-5: 3rem;
}

.required::after {
   content: " *";
   color: var(--bs-danger);
}