{% load static %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}Default Title{% endblock %} | {{ request.site.name }}</title>
   {% bootstrap_css %}
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
   {% block extra_css %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
   {% include "includes/navbar.html" %}
   
   <main class="flex-shrink-0">
       <div class="container mt-4">
           {% include "includes/messages.html" %}
           {% block content %}{% endblock %}
       </div>
   </main>
   
   {% include "includes/footer.html" %}
   
   {% bootstrap_javascript %}
   <script src="{% static 'js/main.js' %}"></script>
   {% block extra_js %}{% endblock %}
</body>
</html>